Actividad2_XML/biblioteca.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="biblioteca">
        <xs:complexType>
            <xs:sequence>

<!-- Elemento Libro, puede aparecer en la biblioteca entre 0 y n veces-->

                <xs:element name="libro" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="titulo" type="xs:string"/>
                            <xs:element name="capitulos">
                                <xs:complexType>
                                    <xs:sequence>

                                    <!-- El libro debe contener al menos un capitulo-->

                                        <xs:element name="capitulo" minOccurs="1" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="titulo_capitulo" type="xs:string" />
                                                    <xs:element name="contenido">
                                                        <xs:complexType>
                                                            <xs:attribute name="enlace" use="required" />
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="num_pag" use="required">
                                                    <xs:simpleType>

                                                    <!-- Cada capitulo debe contener al menos una pagina-->
                                                       
                                                        <xs:restriction base="xs:integer">
                                                            <xs:minInclusive value="1"></xs:minInclusive>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:attribute>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="indice" type="xs:string" />
                            <xs:element name="sinopsis" type="xs:string" />
                        </xs:sequence>
                        <xs:attribute name="id" use="required">
                            <xs:simpleType>

                            <!-- Aplicamos la restriccion para que el id solo permita el formato correcto-->
                                
                                <xs:restriction base="xs:string">
                                    <xs:pattern value="[L][0-9]{4}"></xs:pattern>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="tipo_clase" use="required">
                            <xs:simpleType>

                            <!-- El tipo de clase solo permitira una opcion de las descritas-->

                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="novela"></xs:enumeration>
                                    <xs:enumeration value="infantil"></xs:enumeration>
                                    <xs:enumeration value="didactico"></xs:enumeration>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="num_pag" use="required">
                            <xs:simpleType>
                                <xs:restriction base="xs:integer">
                                    <xs:minInclusive value="1"></xs:minInclusive>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>

<!-- Elemento Periodico, puede aparecer en la biblioteca entre 0 y n veces-->

                <xs:element name="periodico" minOccurs="0" maxOccurs="unbounded">

                <!-- El elemento periodico es compuesto por un unico elemento secciones -->
                    
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="secciones">

                            <!-- El elemento secciones contiene entre 1 y n elementos seccion-->

                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="seccion" minOccurs="1" maxOccurs="unbounded">

                                            <!-- El elemento seccion contiene el elemento articulos que es compuesto por 1 o n elementos articulo-->

                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="articulos">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="articulo" minOccurs="1" maxOccurs="unbounded">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="contenido" minOccurs="1" maxOccurs="unbounded">
                                                                                <xs:complexType>
                                                                                    <xs:attribute name="enlace" use="required" />
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                        <xs:attribute name="autor" use="required" />
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="tipo" use="required">
                                                    <xs:simpleType>                                                                            
                                                    <!-- El tipo de clase solo permitira una opcion de las descritas-->

                                                        <xs:restriction base="xs:string">
                                                            <xs:enumeration value="economica"></xs:enumeration>
                                                            <xs:enumeration value="opinion"></xs:enumeration>
                                                            <xs:enumeration value="deportes"></xs:enumeration>
                                                            <xs:enumeration value="nacional"></xs:enumeration>
                                                            <xs:enumeration value="internacional"></xs:enumeration>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:attribute>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="indice" type="xs:string" />
                        </xs:sequence>
                        <xs:attribute name="id" use="required">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">

                        <!-- Aplicamos la restriccion para que el id solo permita el formato correcto-->

                                    <xs:pattern value="[P][0-9]{4}"></xs:pattern>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="tipo_clase" use="required">
                            <xs:simpleType>

                                <!-- El tipo de clase solo permitira una opcion de las descritas-->

                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="nacional"></xs:enumeration>
                                    <xs:enumeration value="internacional"></xs:enumeration>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="fecha_publicacion" type="xs:date" use="required" />
                    </xs:complexType>
                </xs:element>

<!-- Elemento Revista, puede aparecer en la biblioteca entre 0 y n veces-->

                <xs:element name="revista" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="titulo" type="xs:string" />
                            <xs:element name="numero_revista" type="xs:string" />
                            <xs:element name="indice" type="xs:string" />
                            
                            <!-- Hay un elemento secciones_revista que puede contener varias secciones-->

                            <xs:element name="secciones_revista">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="seccion_revista" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="contenido">
                                                        <xs:complexType>
                                                            <xs:attribute name="enlace" use="required" />
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>

                                                  <!-- Cada seccion debe contener al menos una pagina-->
   
                                                <xs:attribute name="num_pag" use="required">
                                                   <xs:simpleType>
                                                        <xs:restriction base="xs:integer">
                                                            <xs:minInclusive value="1"></xs:minInclusive>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:attribute>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="id" use="required">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">

                                    <!-- Aplicamos la restriccion para que el id solo permita el formato correcto-->

                                    <xs:pattern value="[R][0-9]{4}"></xs:pattern>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="tipo_clase" use="required">
                            <xs:simpleType>

                            <!-- El tipo de clase solo permitira una opcion de las descritas-->

                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="informatica"></xs:enumeration>
                                    <xs:enumeration value="corazon"></xs:enumeration>
                                    <xs:enumeration value="coches"></xs:enumeration>
                                    <xs:enumeration value="investigacion"></xs:enumeration>
                                    <xs:enumeration value="otras"></xs:enumeration>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="num_pag" use="required">
                            <xs:simpleType>

                            <!-- La revista debe contener al menos una pagina-->

                                <xs:restriction base="xs:integer">
                                    <xs:minInclusive value="1"></xs:minInclusive>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>